<?xml version="1.0" encoding="UTF-8"?>
<E n="events" xmlns:p="GUIDE plugin">
<a n="version">5.5</a>
<a n="versionPatch">3</a>
<e n="Menu_GoTo_Media">
<a n="cls">23</a>
<m>
<a n="i">211573092571836093</a>
<a n="c">1440399827946</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Settings">
<a n="cls">23</a>
<m>
<a n="i">211573225865860831</a>
<a n="c">1440399852678</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Specials_Gestures">
<a n="cls">23</a>
<m>
<a n="i">211575853203876695</a>
<a n="c">1458133711436</a>
<a n="b">2</a>
</m>
</e>
<e n="Menu_GoTo_Information">
<a n="cls">23</a>
<m>
<a n="i">211576971798892112</a>
<a n="c">1440399883968</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Battery">
<a n="cls">23</a>
<m>
<a n="i">211574899165091037</a>
<a n="c">1440400082865</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Home">
<a n="cls">23</a>
<m>
<a n="i">211579676331975545</a>
<a n="c">1440400967360</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Navigation">
<a n="cls">23</a>
<m>
<a n="i">211578749348196041</a>
<a n="c">1440578187830</a>
<a n="b">0</a>
</m>
</e>
<e n="ExtOut_Navigation_Touch_Move">
<a n="s">2</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">deltaX</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211578166971712342</a>
<a n="c">1440579703976</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<MPT n="1">
<a n="n">deltaY</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211575525930720128</a>
<a n="c">1440579711761</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211575960880721577</a>
<a n="c">1441176089620</a>
<a n="b">0</a>
<a n="eventMsgID">0</a>
<a n="eventGroupID">65536</a>
</m>
</e>
<e n="ExtOut_Navigation_Touch_Zoom">
<a n="s">1</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">zoomFactor</a>
<a n="cls">9</a>
<cP>
<a n="cls">9</a>
<a n="val">0.0</a>
<m>
<a n="i">211570872750270063</a>
<a n="c">1440580261688</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211579274131271624</a>
<a n="c">1441176093707</a>
<a n="b">0</a>
<a n="eventMsgID">2</a>
<a n="eventGroupID">65536</a>
</m>
</e>
<e n="ExtOut_Navigation_Touch_Rotate">
<a n="s">1</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">rotationAngle</a>
<a n="cls">9</a>
<cP>
<a n="cls">9</a>
<a n="val">0.0</a>
<m>
<a n="i">211574402627567704</a>
<a n="c">1440580559321</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211579694840569113</a>
<a n="c">1441176091547</a>
<a n="b">0</a>
<a n="eventMsgID">1</a>
<a n="eventGroupID">65536</a>
</m>
</e>
<e n="DoubleTap_Reset">
<a n="cls">23</a>
<m>
<a n="i">211574469721997136</a>
<a n="c">1440580988759</a>
<a n="b">0</a>
</m>
</e>
<e n="ExtOut_Navigation_Touch_DoubleTap">
<a n="s">2</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">tapX</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211577270770343624</a>
<a n="c">1440581335227</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<MPT n="1">
<a n="n">tapY</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211576854571351650</a>
<a n="c">1440581343252</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211577738056352859</a>
<a n="c">1441176086956</a>
<a n="b">0</a>
<a n="eventMsgID">3</a>
<a n="eventGroupID">65536</a>
</m>
</e>
<e n="ExtIn_Tower_Gesture_NS">
<a n="cls">23</a>
<a n="cnxtF">1</a>
<m>
<a n="i">211577637899661892</a>
<a n="c">1443626995571</a>
<a n="b">1</a>
<a n="eventMsgID">0</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="ExtIn_Tower_Gesture_SN">
<a n="cls">23</a>
<a n="cnxtF">1</a>
<m>
<a n="i">211572726594672030</a>
<a n="c">1443626999537</a>
<a n="b">1</a>
<a n="eventMsgID">2</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="ExtIn_Tower_Gesture_OW">
<a n="cls">23</a>
<a n="cnxtF">1</a>
<m>
<a n="i">211572622801688017</a>
<a n="c">1443626997612</a>
<a n="b">1</a>
<a n="eventMsgID">1</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="ExtIn_Tower_Gesture_WO">
<a n="cls">23</a>
<a n="cnxtF">1</a>
<m>
<a n="i">211575284110699466</a>
<a n="c">1443627001563</a>
<a n="b">1</a>
<a n="eventMsgID">3</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="Menu_GoTo_Settings_Mode">
<a n="cls">23</a>
<m>
<a n="i">211577914633355048</a>
<a n="c">1441113284348</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_GoTo_Settings_Language">
<a n="cls">23</a>
<m>
<a n="i">211576600488363267</a>
<a n="c">1441113292561</a>
<a n="b">0</a>
</m>
</e>
<e n="Menu_Back">
<a n="cls">23</a>
<m>
<a n="i">211574273901570180</a>
<a n="c">1441115499289</a>
<a n="b">0</a>
</m>
</e>
<e n="ExtOut_VehicleMode_SetMode">
<a n="s">1</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">SelectedMode</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211573324576954179</a>
<a n="c">1441175945975</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211572377578963673</a>
<a n="c">1441176076455</a>
<a n="b">0</a>
<a n="eventMsgID">4</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="Gesture_ResetIcon">
<a n="cls">23</a>
<m>
<a n="i">211571498056274180</a>
<a n="c">1441178265827</a>
<a n="b">0</a>
</m>
</e>
<e n="ExtOut_Battery_UpdateValues">
<a n="cls">23</a>
<a n="cnxtF">2</a>
<m>
<a n="i">211571831282489106</a>
<a n="c">1441199506503</a>
<a n="b">0</a>
<a n="eventMsgID">5</a>
<a n="eventGroupID">65540</a>
</m>
</e>
<e n="Menu_GoTo_Radio">
<a n="cls">23</a>
<m>
<a n="i">101304386674175393</a>
<a n="c">1442586167123</a>
<a n="b">1</a>
</m>
</e>
<e n="ExtOut_Media_PauseTitle">
<a n="cls">23</a>
<a n="cnxtF">2</a>
<m>
<a n="i">101301829960260632</a>
<a n="c">1442927711480</a>
<a n="b">1</a>
<a n="eventMsgID">6</a>
<a n="eventGroupID">65541</a>
</m>
</e>
<e n="Menu_HomeButton_Pressed">
<a n="cls">23</a>
<m>
<a n="i">211570959575401020</a>
<a n="c">1456920392549</a>
<a n="b">0</a>
</m>
</e>
<e n="ExtOut_Media_PlayTitle">
<a n="s">1</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">trackIndex</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">211576302303715383</a>
<a n="c">1457018707023</a>
<a n="b">0</a>
</m>
</cP>
</MPT>
<m>
<a n="i">211577148936132930</a>
<a n="c">1457018711996</a>
<a n="b">0</a>
<a n="eventMsgID">5</a>
<a n="eventGroupID">65541</a>
</m>
</e>
<e n="Menu_GoTo_Specials">
<a n="cls">23</a>
<m>
<a n="i">1233895693447188983</a>
<a n="c">1457535180418</a>
<a n="b">2</a>
</m>
</e>
<e n="GoTo_Navigation_Map">
<a n="cls">23</a>
<m>
<a n="i">1233894286528761217</a>
<a n="c">1457688752300</a>
<a n="b">2</a>
</m>
</e>
<e n="ExtOut_Navigation_Select_City">
<a n="s">1</a>
<a n="cls">23</a>
<a n="cnxtF">2</a>
<MPT n="0">
<a n="n">City_Index</a>
<a n="cls">2</a>
<cP>
<a n="cls">2</a>
<a n="val">0</a>
<m>
<a n="i">1233899166442003304</a>
<a n="c">1458055994928</a>
<a n="b">2</a>
</m>
</cP>
</MPT>
<m>
<a n="i">1233890268040062179</a>
<a n="c">1458220970274</a>
<a n="b">2</a>
<a n="eventMsgID">4</a>
<a n="eventGroupID">65536</a>
</m>
</e>
<e n="Menu_GoTo_Specials_Heartbeat">
<a n="cls">23</a>
<m>
<a n="i">1233893731749642869</a>
<a n="c">1458133634454</a>
<a n="b">2</a>
</m>
</e>
<e n="Menu_GoTo_Specials_Parkingpilot">
<a n="cls">23</a>
<m>
<a n="i">1233895356652754055</a>
<a n="c">1458133745634</a>
<a n="b">2</a>
</m>
</e>
<e n="Menu_GoTo_Specials_LEDs">
<a n="cls">23</a>
<m>
<a n="i">1233893161916773769</a>
<a n="c">1458133765342</a>
<a n="b">2</a>
</m>
</e>
<e n="GoTo_Ecarus">
<a n="cls">23</a>
<m>
<a n="i">1233895467878696211</a>
<a n="c">1458224687859</a>
<a n="b">2</a>
</m>
</e>
</E>
