<?xml version="1.0" encoding="UTF-8"?>
<SET n="settings" xmlns:p="GUIDE plugin">
<a n="project.version"/>
<a n="templateInterfacesOn">true</a>
<a n="lastLoadedLayout"/>
<a n="simulation.startControlPanel">true</a>
<a n="simulation.showTooltips">true</a>
<a n="simulation.neverEditModel">false</a>
<a n="simulation.openDynStateDiagram">true</a>
<a n="simulation.closeInactiveDynStateDiagram">false</a>
<a n="simulation.loadAllImages">false</a>
<a n="version">5.5</a>
<a n="versionPatch">3</a>
<PWS>
<PW n="0">
<a n="selectedPersp">View</a>
<PERSP>
<persp_attr n="0">
<a n="name">State</a>
<a n="base">State</a>
</persp_attr>
<persp_attr n="1">
<a n="name">View</a>
<a n="base">View</a>
</persp_attr>
<persp_attr n="2">
<a n="name">WidgetTemplate</a>
<a n="base">WidgetTemplate</a>
</persp_attr>
</PERSP>
</PW>
</PWS>
<GCS>
<PE n="State">
<gcc n="ModuleTreeComponent">
<gc>
<a n="currentModule">211572932263474987</a>
</gc>
</gcc>
<gcc n="ModuleExplorerComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="sortABC">true</a>
<a n="filterSM">true</a>
<a n="sm">0</a>
</gc>
</gcc>
<gcc n="StateExplorerComponent"/>
<gcc n="StatechartDesignerComponent">
<gc>
<a n="viewWidth">128.0</a>
<a n="viewHeight">100.0</a>
<a n="selectedDiagram">211577798386993422</a>
<a n="diagramZoom">-1</a>
</gc>
</gcc>
<gcc n="DiagramOverviewComponent"/>
<gcc n="FocusedElementComponent"/>
<gcc n="AnnotationsPlugin">
<gc/>
</gcc>
<gcc n="ProblemsPlugin">
<gc>
<a n="filterOnModule">false</a>
<a n="filterOnElement">false</a>
</gc>
</gcc>
<gcc n="RefSearchPlugin">
<gc>
<a n="moduleFilter">false</a>
</gc>
</gcc>
<gcc n="GlobalEventsTableComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="filterText"/>
<a n="tablePref">3:1140:0:2147483647:15:75:570:1:2147483647:15:75:570:-1:-1:-1:-1:-1</a>
<a n="tableSort">0</a>
</gc>
</gcc>
<gcc n="AttributePanelComponent"/>
</PE>
<PE n="View">
<gcc n="NewWidgetsToolBarComponent">
<gc n="NewWidgetsToolBarComponent">
<a n="prevSize">0</a>
<a n="autoCollapse">false</a>
</gc>
</gcc>
<gcc n="WidgetsTreeComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="selectedWidget">211576141620502371</a>
</gc>
</gcc>
<gcc n="WidgetVariablesComponent">
<gc>
<a n="sortPG">0</a>
<a n="group">0</a>
<a n="tablePref">4	340	Property	0	10000	5	75	29	Name	1	10000	5	75	118	Value	2	10000	5	75	195			2	5	0	Property	Name	Value	Type	4	1	Property	Name	Value</a>
</gc>
</gcc>
<gcc n="ViewDesignerComponent">
<gc>
<a n="zoom">80.0</a>
<a n="showInvisibleWidgets">false</a>
</gc>
</gcc>
<gcc n="GlobalPropertiesTableComponent">
<gc>
<a n="viewFilter">false</a>
<a n="dynamicFilter">0</a>
<a n="contextFilter">0</a>
<a n="languageFilter">0</a>
<a n="variantFilter">0</a>
<a n="filterText"/>
<a n="tablePref">3:364:0:2147483647:20:224:284:1:2147483647:20:20:80:-1:-1:-1:-1:-1</a>
<a n="tableSort">0</a>
</gc>
</gcc>
<gcc n="VariantsTreeComponent">
<gc>
<a n="currentVariant">211578502758474991</a>
</gc>
</gcc>
<gcc n="LanguageTreeComponent">
<gc>
<a n="currentLanguage">211573085332474990</a>
<a n="showCommentPanel">true</a>
</gc>
</gcc>
<gcc n="ModuleTreeComponent">
<gc>
<a n="currentModule">211572932263474987</a>
</gc>
</gcc>
<gcc n="FocusedElementComponent"/>
<gcc n="AnimationDesignerComponent">
<gc/>
</gcc>
<gcc n="AnnotationsPlugin">
<gc/>
</gcc>
<gcc n="ProblemsPlugin">
<gc>
<a n="filterOnModule">false</a>
<a n="filterOnElement">false</a>
</gc>
</gcc>
<gcc n="RefSearchPlugin">
<gc>
<a n="moduleFilter">false</a>
</gc>
</gcc>
<gcc n="AttributePanelComponent"/>
<gcc n="WidgetFeaturesComponent">
<gc>
<a n="group">true</a>
<a n="info">true</a>
</gc>
</gcc>
<gcc n="GlobalEventsTableComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="filterText"/>
<a n="tablePref">3:364:0:2147483647:20:141:242:1:2147483647:20:20:122:-1:-1:-1:-1:-1</a>
<a n="tableSort">0</a>
</gc>
</gcc>
</PE>
<PE n="WidgetTemplate">
<gcc n="NewWidgetsToolBarComponent">
<gc n="NewWidgetsToolBarComponent">
<a n="prevSize">0</a>
<a n="autoCollapse">false</a>
</gc>
</gcc>
<gcc n="WidgetTemplatesTreeComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="selectedWidget">211576665597096472</a>
</gc>
</gcc>
<gcc n="WidgetTemplateVariablesComponent">
<gc>
<a n="sortPG">0</a>
<a n="group">0</a>
<a n="tablePref">4	449	Property	0	10000	5	75	30	Name	1	10000	5	75	113	Value	2	10000	5	75	308			2	5	0	Property	Name	Value	Type	4	1	Property	Name	Value</a>
</gc>
</gcc>
<gcc n="WidgetTemplateDesignerComponent">
<gc>
<a n="zoom">100.0</a>
<a n="showInvisibleWidgets">false</a>
</gc>
</gcc>
<gcc n="ModuleTreeComponent">
<gc>
<a n="currentModule">211572932263474987</a>
</gc>
</gcc>
<gcc n="FocusedElementComponent"/>
<gcc n="WidgetFeaturesComponent">
<gc>
<a n="group">true</a>
<a n="info">true</a>
</gc>
</gcc>
<gcc n="AnimationDesignerComponent">
<gc/>
</gcc>
<gcc n="AnnotationsPlugin">
<gc/>
</gcc>
<gcc n="ProblemsPlugin">
<gc>
<a n="filterOnModule">false</a>
<a n="filterOnElement">false</a>
</gc>
</gcc>
<gcc n="RefSearchPlugin">
<gc>
<a n="moduleFilter">false</a>
</gc>
</gcc>
<gcc n="AttributePanelComponent"/>
<gcc n="GlobalPropertiesTableComponent">
<gc>
<a n="viewFilter">false</a>
<a n="dynamicFilter">0</a>
<a n="contextFilter">0</a>
<a n="languageFilter">0</a>
<a n="variantFilter">0</a>
<a n="filterText"/>
<a n="tablePref">3:415:0:2147483647:20:118:250:1:2147483647:20:32:165:-1:-1:-1:-1:-1</a>
<a n="tableSort">0</a>
</gc>
</gcc>
<gcc n="GlobalEventsTableComponent">
<gc>
<a n="moduleFilterInd">1</a>
<a n="filterText"/>
<a n="tablePref">3:415:0:2147483647:15:75:208:1:2147483647:15:75:207:-1:-1:-1:-1:-1</a>
<a n="tableSort">0</a>
</gc>
</gcc>
<gcc n="LanguageTreeComponent">
<gc>
<a n="currentLanguage">211573085332474990</a>
<a n="showCommentPanel">true</a>
</gc>
</gcc>
</PE>
<PE n="Simulation">
<gcc n="LoggerGtfMonitorPluginComponent"/>
<gcc n="EventsGtfMonitorPluginComponent"/>
<gcc n="DatapoolGtfMonitorPluginComponent"/>
</PE>
</GCS>
<WTC n="TemplatesLibrary">
<wtc n="Animation">
<wtct n="Animation">
<a n="id">211575874919478527</a>
</wtct>
<wtct n="Constant Curve Bool">
<a n="id">211574636064478899</a>
</wtct>
<wtct n="Constant Curve Color">
<a n="id">211579228576478777</a>
</wtct>
<wtct n="Constant Curve Float">
<a n="id">211577748259479021</a>
</wtct>
<wtct n="Constant Curve Integer">
<a n="id">211573696892478656</a>
</wtct>
<wtct n="Fast Start Color">
<a n="id">211570256447480012</a>
</wtct>
<wtct n="Fast Start Float">
<a n="id">211579332508480136</a>
</wtct>
<wtct n="Fast Start Integer">
<a n="id">211577625056479888</a>
</wtct>
<wtct n="Linear Curve Color">
<a n="id">211573829498481159</a>
</wtct>
<wtct n="Linear Curve Float">
<a n="id">211574799086481284</a>
</wtct>
<wtct n="Linear Curve Integer">
<a n="id">211573852884481035</a>
</wtct>
<wtct n="Linear Interpolation Color">
<a n="id">211570044181479267</a>
</wtct>
<wtct n="Linear Interpolation Float">
<a n="id">211578009707479392</a>
</wtct>
<wtct n="Linear Interpolation Integer">
<a n="id">211574903136479144</a>
</wtct>
<wtct n="Quadratic Curve Color">
<a n="id">211570336638480386</a>
</wtct>
<wtct n="Quadratic Curve Float">
<a n="id">211577010771480513</a>
</wtct>
<wtct n="Quadratic Curve Integer">
<a n="id">211577018398480260</a>
</wtct>
<wtct n="Script Curve Bool">
<a n="id">211575902945481409</a>
</wtct>
<wtct n="Script Curve Color">
<a n="id">211576085027481658</a>
</wtct>
<wtct n="Script Curve Float">
<a n="id">211575411980481783</a>
</wtct>
<wtct n="Script Curve Integer">
<a n="id">211579495181481533</a>
</wtct>
<wtct n="Sinus Curve Color">
<a n="id">211572123261480779</a>
</wtct>
<wtct n="Sinus Curve Float">
<a n="id">211579767723480907</a>
</wtct>
<wtct n="Sinus Curve Integer">
<a n="id">211576278706480651</a>
</wtct>
<wtct n="Slow Start Color">
<a n="id">211570273958479640</a>
</wtct>
<wtct n="Slow Start Float">
<a n="id">211575534497479764</a>
</wtct>
<wtct n="Slow Start Integer">
<a n="id">211579265164479515</a>
</wtct>
</wtc>
<wtc n="Basic Widget Set">
<wtct n="Container">
<a n="id">211573920095478114</a>
</wtct>
<wtct n="Image">
<a n="id">211578535415477474</a>
</wtct>
<wtct n="Instantiator">
<a n="id">211578888214477904</a>
</wtct>
<wtct n="Label">
<a n="id">211578844710477232</a>
</wtct>
<wtct n="Rectangle">
<a n="id">211570514434477693</a>
</wtct>
<wtct n="TUM_BatteryChargeIndicator">
<a n="id">211578037344350375</a>
</wtct>
<wtct n="TUM_Cities_Button">
<a n="id">1233897545325268760</a>
</wtct>
<wtct n="TUM_IconButton">
<a n="id">211572236269045377</a>
</wtct>
<wtct n="TUM_ImageButton">
<a n="id">211579029795277636</a>
</wtct>
<wtct n="TUM_InfoList">
<a n="id">211576178911964193</a>
</wtct>
<wtct n="TUM_Information_Menu">
<a n="id">211576665597096472</a>
</wtct>
<wtct n="TUM_LanguageButton">
<a n="id">211570426233706120</a>
</wtct>
<wtct n="TUM_LogoText">
<a n="id">211572346824223474</a>
</wtct>
<wtct n="TUM_PercentBar_Horizontal">
<a n="id">211570870977795416</a>
</wtct>
<wtct n="TUM_TextList">
<a n="id">101304795920176238</a>
</wtct>
<wtct n="TUM_ToggleIndicator_Image">
<a n="id">211576478227496524</a>
</wtct>
<wtct n="TUM_Value_ListEntry">
<a n="id">211571730283420012</a>
</wtct>
<wtct n="TUM_View">
<a n="id">211573106765080687</a>
</wtct>
<wtct n="TUM_VolumeControl_Simple">
<a n="id">211578316648164898</a>
</wtct>
<wtct n="TUM_VolumeControl_Simple_Old">
<a n="id">211573559478872589</a>
</wtct>
<wtct n="Tum_Menue_Button">
<a n="id">101301147849751325</a>
</wtct>
<wtct n="View">
<a n="id">211575611154478320</a>
</wtct>
</wtc>
</WTC>
<SM n="simulation.stateMachines"/>
<FL n="favoriteList"/>
<p:problems.filterSettings>
<v n="checker">
<a n="c">39</a>
<a n="0">com.elektrobit.guide.plugins.gtf.adapter.GtfErrorLog$GtfSimulationChecker</a>
<a n="1">de._3soft.guide.gui.plugins.problems.checker.WidgetsOnSameDiagramChecker</a>
<a n="2">de._3soft.guide.model.checker.InterfaceViolationChecker</a>
<a n="3">com.elektrobit.guide.plugins.gtf.svgimporter.GtfImporterLog$0</a>
<a n="4">de._3soft.guide.gui.plugins.problems.checker.WidgetTemplateFlagsChecker</a>
<a n="5">de._3soft.guide.gui.plugins.problems.checker.IncomingOutgoingTransitionWidgetChecker</a>
<a n="6">de._3soft.guide.gui.plugins.problems.checker.MissingTransitionsChecker</a>
<a n="7">de._3soft.guide.gui.plugins.problems.checker.GuideStateGlobalChecker</a>
<a n="8">com.elektrobit.guide.plugins.gtf.adapter.checker.GtfElementAttributesChecker</a>
<a n="9">de._3soft.guide.gui.plugins.problems.checker.ParentDiagramsChecker</a>
<a n="10">de._3soft.guide.gui.plugins.problems.checker.IncludeStateCycleChecker</a>
<a n="11">de._3soft.guide.gui.plugins.problems.checker.DecisionPointChecker</a>
<a n="12">de._3soft.guide.gui.plugins.problems.checker.StateHierarchyChecker</a>
<a n="13">de._3soft.guide.gui.plugins.problems.checker.OutOfHierarchyChecker</a>
<a n="14">de._3soft.guide.gui.plugins.problems.checker.HistoryDefaultTransitionChecker</a>
<a n="15">de._3soft.guide.gui.plugins.problems.checker.TransitionWithoutDiagramChecker</a>
<a n="16">de._3soft.guide.gui.plugins.problems.checker.StateWithoutDiagramChecker</a>
<a n="17">de._3soft.guide.gui.plugins.problems.checker.ModuleHierarchyChecker</a>
<a n="18">de._3soft.guide.gui.plugins.problems.checker.FindNonDynamicLeftHandOperandsChecker</a>
<a n="19">de._3soft.guide.gui.plugins.problems.checker.DeprecatedElementsChecker</a>
<a n="20">de._3soft.guide.gui.plugins.problems.checker.ExportProblemChecker</a>
<a n="21">de._3soft.guide.gui.plugins.problems.checker.FindLangEstimationCheckerRed</a>
<a n="22">de._3soft.guide.model.checker.TransitionConsistencyChecker</a>
<a n="23">de._3soft.guide.gui.plugins.problems.checker.UnrecommendedReferenceForTemplateInterfacesChecker</a>
<a n="24">de._3soft.guide.gui.plugins.problems.checker.FindLangEstimationCheckerMissing</a>
<a n="25">de._3soft.guide.model.checker.VisibilityViolationChecker</a>
<a n="26">de._3soft.guide.gui.plugins.problems.checker.InfiniteLoopChecker</a>
<a n="27">com.elektrobit.guide.plugins.gtf.generator.asciiexporter.GtfExporterLog$0</a>
<a n="28">de._3soft.guide.model.checker.UpdateTemplateCompatbilityChecker</a>
<a n="29">de._3soft.guide.gui.plugins.problems.checker.ParentDiagramsChecker2</a>
<a n="30">de._3soft.guide.gui.plugins.problems.checker.EventParameterCompareNodeAtConditionStateChecker</a>
<a n="31">de._3soft.guide.gui.plugins.problems.checker.FindWrongContextFlagChecker</a>
<a n="32">de._3soft.guide.gui.plugins.problems.checker.TemplateHierarchyConsistencyChecker</a>
<a n="33">de._3soft.guide.gui.plugins.problems.checker.DuplicateElementIDsChecker</a>
<a n="34">de._3soft.guide.model.checker.DiagramModelChecker</a>
<a n="35">de._3soft.guide.gui.plugins.problems.checker.InitialStateChecker</a>
<a n="36">de._3soft.guide.gui.plugins.problems.checker.ReachabilityChecker</a>
<a n="37">de._3soft.guide.gui.plugins.problems.checker.FinalDefaultTransitionChecker</a>
<a n="38">de._3soft.guide.gui.plugins.problems.checker.FindUnusedElementsChecker</a>
</v>
</p:problems.filterSettings>
</SET>
